<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="socketclient.js"></script>
</head>

<body>
<script>
var client = new SocketClient("10.0.0.196",81,"chat");

client.connect();

client.onData  = function(text) {
    console.log(text);
    element=document.getElementById("log");
    if(element){
       if(element.value.length >100000) {
 element.value="";
 }
       element.value += (text + "\n");
       element.scrollTop = element.scrollHeight;
    }
}

client.onRegist = function() {
    this.sendData("I am coming!");
}

</script>

<textarea name="log" id="log" style="font-size:12px; width:100%; height: 600px">Tcpdump log:</textarea>
</body>
</html>