<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <form role="form">
     <div class="form-group">
         <label>原密码</label>
                 <input class="form-control" type="password">
     </div>

                 <label>新密码</label>
                 <input class="form-control" type="password">
                 <input class="form-control" type="submit" class="btn" name="保存">
                 <button type="button" class="btn btn-default"
                  data-dismiss="modal">取消
                 </button>
             </form>
</body>
</html>