<!DOCTYPE html>
       <html>
       <head>
           <style>
               #msg{
                  width:400px; height:400px; overflow:auto;
                  border:2px solid #000000;
                  background-color:#000000;color:#ffffff;
                  }
           </style>
           <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
           <script>
            $(document).ready(function() {
              /* !window.WebSocket、window.MozWebSocket检测浏览器对websocket的支持*/
              if (!window.WebSocket) {
                  if (window.MozWebSocket) {
                      window.WebSocket = window.MozWebSocket;
                  } else {
                      $('#msg').prepend("<p>你的浏览器不支持websocket</p>");
                  }
              }
              ws = new WebSocket('ws://192.168.137.152:8888/websocket/');
              ws.onopen = function(evt) {
                  $('#msg').append('<li>连接成功!</li>');
              }
              ws.onmessage = function(evt) {
                  $('#msg').append('<li>' + evt.data + '</li>');
              }
          });
       </script>
       </head>
      <body>
          <p>服务端实时日志</p>
          <div id="msg"></div>


      </body>
      </html>


